.add-example-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
}
.example-button{
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}