/* UploadImage.css */
.main-page{
    text-align: center;
    margin: 0 10px;
    padding: 2px;
}

.all-images-container {
    display: flex;
    height:200px;
    max-width: 200vh;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping to the next line */
    /* justify-content: center; Start from the left side */
    align-items: center;
    border: 2px solid #ccc;
    /* margin: 10px; */
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}
  
.image {
    width: auto;
    min-height:150px;
    max-height: 200px;
    transition: transform 0.3s ease; /* Add a smooth transition for the hover effect */
}
.drop-image{
    max-width:100%;
    max-height:500px;
    transition: transform 0.3s ease;
}

.hover-text {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add a smooth transition for the hover effect */
}
.image-annotation-container{
    display:flex;
    max-width: 200vh;
}
.image-container:hover{
    /* transform: scale(1.1); */

    cursor: pointer;
}
.image-container:hover .hover-text {
    opacity: 0.5; /* Show the hover text on hover */
}

.drop-container {
    flex: 1; /* Make both containers take equal space */
    border: 2px solid #ccc;
    border-radius: 3px;
    margin: 10px;
    width: 500px; /* Adjust the width as needed */
    min-height: 500px;
    box-sizing: border-box; /* Ensure the border width is included in the dimensions */
}