body{
  display: flex;
  justify-content: center;
}
/* #root {
  display: flex;
  flex-direction: row;
} */

li {
  list-style-type: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px
}
ul{
  padding:0;
}